# ============================================================
#  VARIABLES DE ENTORNO — EventoSuite
# ============================================================

SECRET_KEY=tu_clave_secreta_aqui

# Base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=eventos_db

# Correo
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contrasena_de_aplicacion
MAIL_DEFAULT_SENDER=tu_correo@gmail.com

# API REST
API_TOKEN=tu_token_secreto